[Unit]
Description=First Boot Setup Script
DefaultDependencies=no
After=docker.service
Before=getty@tty1.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/firstboot.sh
RemainAfterExit=no
StandardInput=tty
StandardOutput=inherit
StandardError=inherit
TTYPath=/dev/tty1
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
